// HDMI output (on-board connector)
IO_LOC "tmds_d_p[0]" 71,70;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[1]" 73,72;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_d_p[2]" 75,74;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "tmds_clk_p" 69,68;
IO_PORT "tmds_clk_p" PULL_MODE=NONE DRIVE=8;

// on-board button and 27 MHz oscillator
IO_LOC "resetn" 4;
IO_PORT "resetn" PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// debug UART (on-board USB-UART, bank 2)
IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// on-board LEDs (active low, bank 3 = 1.8 V)
IO_LOC "led[0]" 10;
IO_LOC "led[1]" 11;
IO_LOC "led[2]" 13;
IO_LOC "led[3]" 14;
IO_LOC "led[4]" 15;
IO_LOC "led[5]" 16;
IO_PORT "led[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "led[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "led[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "led[3]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "led[4]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
IO_PORT "led[5]" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;

// input buffer enable (IOR5A)
IO_LOC "rgb_en" 63;
IO_PORT "rgb_en" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// RGB sync / clock
// IOB29A / GCLKT_4
IO_LOC "rgb_pclk" 35;
IO_PORT "rgb_pclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
// IOB29B
IO_LOC "rgb_hs" 36;
IO_PORT "rgb_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
// IOB31A
IO_LOC "rgb_vs" 37;
IO_PORT "rgb_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
// IOB31B
IO_LOC "rgb_de" 38;
IO_PORT "rgb_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// red
// IOT11B
IO_LOC "rgb_r[0]" 81;
// IOT11A
IO_LOC "rgb_r[1]" 82;
// IOT10B
IO_LOC "rgb_r[2]" 83;
// IOB41A
IO_LOC "rgb_r[3]" 41;
// IOT37A
IO_LOC "rgb_r[4]" 77;
// IOB33A
IO_LOC "rgb_r[5]" 39;
// IOB23B
IO_LOC "rgb_r[6]" 34;
// IOB23A
IO_LOC "rgb_r[7]" 33;

// green
// IOT12B
IO_LOC "rgb_g[0]" 79;
// IOT12A
IO_LOC "rgb_g[1]" 80;
// IOR24B
IO_LOC "rgb_g[2]" 48;
// IOT37B
IO_LOC "rgb_g[3]" 76;
// IOR13A (dual-purpose FASTRD_N/D3)
IO_LOC "rgb_g[4]" 57;
// IOR15B (dual-purpose DOUT/WE_N)
IO_LOC "rgb_g[5]" 53;
// IOR17B
IO_LOC "rgb_g[6]" 51;
// IOB41B
IO_LOC "rgb_g[7]" 42;

// blue
// IOT10A
IO_LOC "rgb_b[0]" 84;
// IOT8B
IO_LOC "rgb_b[1]" 85;
// IOT8A
IO_LOC "rgb_b[2]" 86;
// IOB13B
IO_LOC "rgb_b[3]" 30;
// IOB13A
IO_LOC "rgb_b[4]" 29;
// IOB11B
IO_LOC "rgb_b[5]" 28;
// IOB11A
IO_LOC "rgb_b[6]" 27;
// IOB8B
IO_LOC "rgb_b[7]" 26;

// pins 79-86 are in bank 3 (1.8 V VCCIO), driven via 1.8 V buffer
IO_PORT "rgb_r[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_r[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_r[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_r[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_r[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_r[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_g[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_g[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_g[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_g[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_g[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_b[0]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_b[1]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_b[2]" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
IO_PORT "rgb_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_b[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_b[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "rgb_b[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
